.brand {
    /* font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; */
    text-decoration: none;
    /* color: #444; */
    font-size: 20pt;
    padding: 1em auto;
}

.brand::after {
    content:"azon";
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #444;
    font-size: 20pt;
    margin-left: -.2em;
    text-shadow: .07em .07em #aaa;
}

.brand>img {
    max-height: initial;
}

.brand:visited {
    text-decoration: none;
    color: #444;
}

.brand#text {
    text-decoration: none;
}

.brand>img {
    height: 4em;
    width: 4em;
    margin: -1.8em -.8em -1.2em auto;
    padding: 1.5em auto;
}

.checkout {
    font-size: 25pt;
    margin-right: 1em;
    color:white;
    text-decoration: none;
    text-shadow: .04em .04em #aaa;
}

.checkout:hover {
    color: #bbb;
}

#search>.field {
    width: 100%;
}

.navbar-end {
    min-width: 250px;
}

.cart {
    position: relative;
    left: -.75em;
    top: -.3em;
    /* text-shadow: inherit -.04em -.04em */
    color: #444;
    text-shadow: .04em .04em #aaa,
                .04em .04em .15em #aaa;
    /* -webkit-text-fill-color: hsl(171, 100%, 41%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: none; */

    /* color: hsl(171, 100%, 41%); */
}

.is-horizontal.card {
    margin-top: 0;
}

.is-horizontal.card:not(:last-child) {
    margin-bottom: 1em;
}

#items .card {
    position: relative;
}

.delete-item {
    content: "x";
    position: absolute;
    top: -.2rem;
    right: 1rem;
    font-size: 2rem;
    color: #444;
}

.delete-item:hover {
    text-shadow: 0 0 20px #444;
}

@media screen and (max-width: 768px) {
    .navbar-end {
        min-width: initial;
    }
    .brand>img {
        margin-left: 0em;
    }
    .brand::after {
        content: "";
    }
}